
/* profile div styles */

.profile {
  height: 400px;
  border: 1px solid gray;
}

/* create post form css */

.input-form{

}

/* weather div styles */

.weather{
  height: 400px;
  border: 1px solid gray;
}

/* signup page grid layout css */

.main-container{
  display: grid;
  grid-template-areas: 
  "left center right";
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.center, .left, .right{
  margin: 20px;
}